.main__quarter-section {
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 100px;
}
.main__quarter-section a {
  text-decoration: none;
}
.main__quarter-section .main__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 50px;
  /* justify-content: center; */
}
.main__quarter-section--dark {
  background-color: rgb(196, 196, 196);
}
.main__quarter-section--light {
  background-color: rgb(227, 227, 227);
}
.main__quarter-section--justify-top {
  padding-bottom: 15px;
}
.main__quarter-section--justify-bottom {
  padding-top: 100px;
}
#logo {
  position: absolute;
  height: 300px;
  top: 23%;
}
.main__footer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main { margin-bottom: 20px;}
.main__footer__text {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  align-items: center;
}
.main__footer__text > h1 {
  text-transform: uppercase;
  color: rgb(120, 41, 28);
  margin-bottom: 10px;
}
.main__footer__text > p {
  margin-top: 0;
  color: rgb(120, 41, 28);
}
.main__footer__text > a {
  font-size: 30px;
  text-decoration: none;
  color: dimgray;
  /* test */
}
.logos i {
  padding: 4px;
  color: gray;
}
.logos {
  width: 150px;
}
/* Make it a marquee */
.marquee {
  width: 750px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
  position: absolute;
  z-index: 999;
  bottom: 180px;
  color: dimgray;
  font-style: italic;
}

.marquee:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
  0%   { text-indent: 70em }
  100% { text-indent: -60em }
}