@font-face {
  font-family: 'Gothic';
  src: url('./Fonts/centurygothic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Gothic_bold';
  src: url('./Fonts/centurygothicbold-webfont.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gothic", CenturyGothic, AppleGothic, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Gothic_Bold", CenturyGothic, AppleGothic, sans-serif;
}
p {
  font-weight: 100;
  font-size: 19px;
}
button {
  background-color: #3b5b7f;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  min-width: 130px;
  font-family: "Gothic_Bold", CenturyGothic, AppleGothic, sans-serif; 
}
h4 {
  /* c 75 m 58 y 60 k 17 355955 */
  color: #26403d;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 20px;
}
h3 {
  color: rgb(187, 166, 31);
}