@font-face {
  font-family: 'Century Gothic';
  src: url('./Fonts/centurygothic-webfont.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
p {
  font-weight: 100;
}
button {
  background-color: #3b5b7f;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  min-width: 130px;
}
h4 {
  /* c 75 m 58 y 60 k 17 355955 */
  color: #26403d;
  text-transform: uppercase;
  font-weight: 1000;
  margin-bottom: 3px;
  font-size: 20px;
}
h3 {
  color: rgb(187, 166, 31)
}